/* ------------------ Desktop views --------------- */
@media only screen and (min-width: 64em) {
	#assignments {
		max-width: 80vw;
	}
	header,
	footer {
		width: 80vw;
		margin: auto;
		border-radius: 1em;
	}
	.design-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.box h3 {
		width: 113%;
	}
}
