/* establish global settings ------- start */
:root {
	--base-size: 1em;
	--type-scale: 1.1;

	--h5: calc(var(--base-size) * var(--type-scale));
	--h4: calc(var(--h5) * var(--type-scale));
	--h3: calc(var(--h4) * var(--type-scale));
	--h2: calc(var(--h3) * var(--type-scale));
	--h1: calc(var(--h2) * var(--type-scale));
	--heading-font: Verdana, Geneva, sans-serif;
	--paragraph-font: Tahoma, Geneva, sans-serif;
}
h1 {
	font-size: var(--h1);
	font-family: var(--heading-font);
}

h2 {
	font-size: var(--h2);
	font-family: var(--heading-font);
}

h3 {
	font-size: var(--h3);
	font-family: var(--heading-font);
}

h4 {
	font-size: var(--h4);
	font-family: var(--heading-font);
}

h5 {
	font-size: var(--h5);
	font-family: var(--heading-font);
}

p {
	font-size: var(--base-size);
	font-family: var(--paragraph-font);
}

small,
.text_small {
	font-size: calc(var(--base-size) / var(--type-scale));
}

/* Start Box Model Fix - first documented by Paul Irish - Start */

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* End Box Model Fix - End */
body {
	margin: 0;
}
img {
	max-width: 100%;
}
/* establish global settings ---------  End */
/* header footer and images ---------- Start */
header,
footer {
	background-color: navy;
	padding: 1rem;
	color: #ffffff;
	width: 100vw;
	margin: 0;
}
header h1 {
	text-align: center;
}
footer {
	text-align: center;
}
footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	color: gold;
}

/* header footer and images ---------- End */

/* Home Page specific Design --------- Start */
#assignments {
	margin: auto;
	max-width: 90vw;
}
#assignments h2 {
	border-bottom: 1px solid black;
}
#myphoto {
	margin-top: 1rem;
	border-radius: 5px;
	max-width: 100px;
}
main {
	height: 65vh;
}
@media screen and (min-width: 390px) {
	#myphoto {
		float: right;
		z-index: 100;
		margin-top: -100px;
	}
}
/* Home Page specific Design --------- Start */
@media print {
	#myphoto {
		display: none;
	}
	footer a[href]::after {
		display: block;
		content: ' (' attr(href) ')';
		font-size: var(--base-size);
	}
}
