/* establish global settings ------- start */
:root {
	--heading-font: 'Frank Ruhl Libre', 'Open-Sans', serif;
	--paragraph-font: Tahoma, Geneva, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
}
p {
	font-family: var(--paragraph-font);
}
h1 {
	font-size: 1.5rem;
}
h2 {
	font-size: 1rem;
}
small {
	font-size: 0.8rem;
}

/* Start Box Model Fix - first documented by Paul Irish - Start */

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* End Box Model Fix - End */
body {
	margin: 0;
	height: 100%;
	line-height: 1.5;
	font-size: 16px;
}
img {
	max-width: 100%;
}
/* establish global settings ---------  End */
/* header footer and images ---------- Start */
header {
	margin-top: 10px;
}
header,
footer {
	background-color: navy;
	padding: 1rem;
	color: #ffffff;
	width: 100vw;
	margin: 0;
}
header {
	text-align: center;
}
footer {
	text-align: center;
}
footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	color: gold;
}
#updated {
	color: white;
}

/* header footer and images ---------- End */

/* Home Page specific Design --------- Start */
#assignments {
	margin: auto;
	max-width: 90vw;
}
#assignments h2 {
	border-bottom: 1px solid black;
}
#myphoto {
	margin-top: 1rem;
	width: 200px;
	height: auto;
}
#assignments ul li a {
	text-decoration: none;
}
.link {
	color: blue;
}
.link:hover {
	text-decoration: underline;
}

/* Home Page specific Design --------- Start */

@media print {
	#myphoto {
		display: none;
	}
	footer a[href]::after {
		display: block;
		content: ' (' attr(href) ')';
		font-size: var(--base-size);
	}
}
