.design-grid {
	margin-top: 1em;
	margin-bottom: 1em;
}
h2 a {
	text-decoration: none;
	color: #ffffff;
}
h2 a:hover {
	color: gold;
}
.box {
	border: 1px solid #bbb;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0.5rem;
	padding: 0 1rem;
	background-color: #eee;
}

.box h3 {
	margin-top: 0px;
	margin-left: -15px;
	margin-right: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 3rem;
	padding: 1rem;
	color: white;
	background-color: #000;
	width: 108%;
	font-size: 18px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box h4 {
	text-align: left;
	margin: auto;
	font-family: serif;
}
.box p {
	margin: auto;
	text-align: left;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-bottom: 0.5rem;
}
header,
footer {
	border-radius: 0;
}



