.design-grid {
	margin-top: 1em;
	margin-bottom: 1em;
}

.box {
	border: 1px solid #bbb;
	margin: 0.5rem;
	padding: 0 1rem;
	background-color: #eee;
}
.box {
	text-align: center;
}
.box h3 {
	margin: 0 -2rem;
	border: none;
	outline: 0;
	display: inline-block;
	color: white;
	background-color: #000;
	width: 110%;
	font-size: 18px;
}
.box h4 {
	text-align: left;
	margin: auto;
}
.box p {
	margin: auto;
	text-align: left;
}
/* ------------------ Tablet views --------------- */
@media only screen and (min-width: 32.5em) {
	.design-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
}
/* ------------------ Desktop views --------------- */
@media only screen and (min-width: 64em) {
	.design-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
