.image-gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
	margin: auto;
	padding: 1em;
}

[data-src] {
	min-width: 50px;
	min-height: 50px;
	margin: auto;
}

img {
	display: block;
	border: 1px solid green;
	margin: auto;
	margin-bottom: 1em;
}

h1 {
	text-align: center;
}
#warning {
	padding: 10px;
	color: beige;
	background-color: red;
}
img[data-src] {
	filter: blur(0.2em);
}
.slow img {
	filter: blur(0em);
	transition: filter 0.5s;
}
