@media only screen and (min-width: 35em) {
	.logo-img {
		width: 120px;
	}
	.heading h1 {
		font-size: 1.8em;
	}
	/* navigation style for tablet screen size */
	nav button {
		display: none;
	}
	nav ul.hide {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav ul {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav ul li a {
		padding: 0.8em 1.2em;
		font-size: 1em;
	}

	main div {
		background-color: var(--accent2-color);
		padding: 1em;
		border: 2px dotted var(--charcoal);
	}
	main div p {
		color: var(--white);
	}
	.hero {
		background-image: url('../images/cache_valley_602x236.jpg');
		height: 236px;
	}
}
