html {
	--webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* START ---- establish global settings Mobile First Design  -------  */

:root {
	/* Tetradic color scheme of two couple of complementary colors with 
    #3a648d as the dominant color */
	--primary-color: #1e5388; /*medium blue */
	--secondary-color: #3e6811; /*medium green - tetradic to blue */
	--accent1-color: #ccff00; /* light brown - tetradic & complementary to blue */
	--accent2-color: #529e3c; /* purple - tetradic & complementary to blue */
	--charcoal: #3a3a3a; /* text color to reduce eye strain */
	--white: #f7f8fc; /* off-white color to reduce eye strain */
	--heading-font: 'EB Garamond', serif;
	--paragraph-font: Tahoma, sans-serif;
}
h1,
h2,
h3,
h4 {
	font-family: var(--heading-font);
	line-height: 1.6em;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.25em;
}
h3,
h4 {
	font-size: 1.1em;
}
p {
	font-size: 0.9em;
	font-family: var(--paragraph-font);
	line-height: 1.5em;
	color: var(--charcoal);
}
.center {
	text-align: center;
}
body {
	background-color: var(--white);
}
/* responsive images that may scale down but not larger than original image */
img {
	max-width: 100%;
	height: auto;
}
.main-header,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}
.logo-img {
	width: 80px;
	height: auto;
}
.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.heading h1 {
	font-size: 1.4rem;
	margin: 0 0 0 17px;
}
.heading div {
	margin: 0 0 0 17px;
	color: var(--secondary-color);
	font-weight: bold;
	font-style: italic;
}
/* ------------ Start Top Navigation Style Section Mobile Frist design ----------  */
nav {
	background-color: var(--primary-color);
}
nav button {
	margin: 0.2rem 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem; /*Apple recomends buttons be set to 44px for accessability */
	color: var(--white);
}
nav ul {
	list-style: none; /*remove bullets on list */
	padding: 0;
	margin: 0;
}
nav ul.hide {
	display: none;
}
nav ul li a {
	display: block;
	padding: 0.8rem 2%;
	text-decoration: none;
	color: var(--white);
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul li.active a {
	background-color: rgba(0, 0, 0, 0.2);
	color: var(--accent1-color);
}
nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

/* ------------ End Top Navigation Style Section ----------  */
main div {
	background-color: #caf12e;
	display: flex;
	margin: 0.5em;
	padding: 0.3em;
	border: 2px dotted var(--charcoal);
}
main div p {
	color: var(--charcoal);
}
main h2 {
	margin-top: 1em;
}
.hero {
	background-color: transparent;
	background-image: url('../images/cache_valley_400x150.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
	border: none;
}
.hero p {
	text-align: center;
	margin: auto;
	margin-top: 0.5em;
	color: var(--charcoal);
}
footer {
	margin-top: 1em;
}
