/* The font-family is Ubuntu, sans-serif. */
/* Use a maximum of one class or id selector. */
/* Use one instance of the first-child or nth:child() pseudo classes. */
/* The color scheme includes #e7f0ed, #e7ffed (data rows) 
and #628ca6, #7fb9c2 along with standard white and black. */

/* second method to retrieve font */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}

/* set font for entire page */
body {
	font-family: 'Ubuntu', sans-serif;
}
table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	margin-bottom: 1em;
	padding: 0.5em;
}
table {
	text-align: center;
	margin: 2em auto;
	margin-bottom: 1em;
	box-shadow: 5px 5px 18px #628ca6;
}
tr th {
	background-color: #628ca6;
	color: white;
}

tr {
	background-color: #e7f0ed;
}
/* use one nth-child requirement */
tr:nth-child(odd) {
	background-color: #e7ffed;
}
/* use one class requirement */
.dark {
	background-color: #628ca6;
	color: white;
}
td {
	font-size: 0.8em;
}
th {
	font-size: 0.9em;
}
tfoot tr td,
thead tr th {
	background-color: #7fb9c2;
	font-size: 1.5em;
	font-weight: 700;
	color: black;
}
tfoot tr td {
	font-size: 12px;
}
